.app-container{
    padding-top: 30px;
}
.menu-section{
    background: lightyellow;
    border-radius: 3px;
    padding: 5px;
    margin: 10px 0px;
}
.menu-item{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
.menu-item-top{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row; 
}
.menu-item-bottom{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.menu-item .price{
    font-size: 12px;
}
.menu-item-left{
    display: flex;
    flex: 1 1;
    flex-direction: column;
}
.menu-item-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu-item-right input {
    width: 100px;
    height: 25px;
    font-size: 12px;
    margin-right: 5px;
}
.menu-item-right input:focus {
    outline: none;
}
.menu-item-right .btn-success,
.menu-item-right .btn-primary,
.menu-item-right .btn-default
{
    padding: 4px 13px;
    font-size: 12px;
}
.menu-item-bottom .form-group{
    width: 100%;
}
.menu-item-bottom .form-group label{
    font-size: 13px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
.d-none{
    display: none;
}